In [57]:
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

sales = pd.read_csv(r"C:\Users\OneDrive\Desktop\vgsales.csv")

In [58]:
#head method
sales.head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [59]:
#shape attribute
sales.shape # we have 15598 records and 11 columns, this is a two dimentional array;

(16598, 11)

In [60]:
#describe method - basics statics 
#sales.describe() 
# count shows the nr of records 
# mean the average of all the columns 
# std

In [61]:
#attribute 
sales.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [62]:
import pandas as pd

music  =pd.read_csv(r"C:\Users\OneDrive\Desktop\f.csv")
music.head(2)

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop

In [63]:
#cleaning, prepering data = no duplicates. no dull values
# split de data into the input data (predictions -x ) set and data sets 
X= music.drop(columns=['genre'])

In [64]:
# create the output set
y = music['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

# Decision Tree Algorithm

In [87]:
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


#cleaning, prepering data = no duplicates. no dull values
# split de data into the input data (predictions -x ) set and data sets 
X= music.drop(columns=['genre'])
# create the output set
y = music['genre']

# we need to split our dataset in 2 sets - training 70% and testig 30% testing
# right now we are passing the entire dataset to train the model 
#the first 2 sets are the input(training test), the other 2 are testing
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

model = DecisionTreeClassifier()

#when training our model, we won't pass the entire data set
model.fit(X_train,y_train)
predictions = model.predict(X_test) # the dataset that contains input values for testing


# y_test which contains the expected values, and predictions the predicted values

accuracy_score(y_test, predictions)

1.0

#  Persisting Models

In [110]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn import tree

import joblib # joblib object has methods for saving and loading models


# #import our data set
# music_1  = pd.read_csv(r"C:\Users\iulia\OneDrive\Desktop\f.csv")
# X = music_1.drop(columns=['genre'])
# y = music_1['genre']


# #create a model 
# model = DecisionTreeClassifier()

# #train the model 
# model.fit(X,y)

model = joblib.load(r"C:\Users\OneDrive\Desktop\music-recommender.joblib")

predictions = model.predict([[21,1]])
predictions

array(['HipHop'], dtype=object)

# Visualizin a decision Tree

In [116]:
tree.export_graphviz(model, out_file=r"C:\Users\OneDrive\Desktop\music-recommender.dot", 
                    feature_names = ['age', 'gender'], 
                    class_names = sorted(y.unique()), 
                    label = 'all', 
                    rounded = True,
                    filled = True)