In [2]:
a = "   what     are you taking about my friend    "
b = a.strip()
b

'what     are you taking about my friend'

In [6]:
a = "what is your name".upper()
b = "What is YOUR Name my Fried".lower()
a, b

('WHAT IS YOUR NAME', 'what is your name my fried')

In [7]:
d = "ABc; that doesn't make any sense, really!; ".replace(";", ",")
d

"ABc, that doesn't make any sense, really!, "

In [12]:
L = "game, and, no".split(",")
L[0]

# IN and NOT IN - Membership Operators

In [14]:
"abc" in "asdfaablalala"

False

In [18]:
"abc" > "abcd"

False

In [21]:
"Marta Montis" not in "Larisa Abigail, Francis Marta , Montis Croline"

True

# Escape Corrector

In [22]:
print("My nickname is \"simi\" and I am not ")

My nickname is "simi" and I am not

In [23]:
print("we \tare learning Python")

we 	are learning Python

In [25]:
print("we are learning \nPython and we like it")

we are learning
Python and we like it

In [26]:
print(r"c:\name\drive")

c:\name\drive


# Data Structures

In [28]:
L = [1, 3, 4.9, "name",3 ]
T = (1,3, 4.9, "name", 3)
S = {1, 3, 4.9, "name", 3}
D = {23: "twothree", 'B': 43, 'C': 'CCD'}

In [41]:
print(L) 
print(T) 
print(S)
print(D)

[1, 3, 4.9, 'name', 3]
(1, 3, 4.9, 'name', 3)
{1, 3, 4.9, 'name'}
{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [30]:
print("The type of L is: ", type(L))
print("The type of T is: ", type(T))
print("The type of S is: ", type(S))
print("The type of D is: ", type(D))

The type of L is:  <class 'list'>
The type of T is:  <class 'tuple'>
The type of S is:  <class 'set'>
The type of D is:  <class 'dict'>

In [31]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [43]:
L = L + ["how", "are", 6, "you"]
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 'how', 'are', 6, 'you']

In [49]:
T2 = ("a", "b", 45) #its immutable, you can add anything inside but add more
T3 = T + T2
T3

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

In [51]:
S.add(56)
S

{1, 3, 4.9, 56, 'name'}

In [58]:
L
#REMOVE ELEMENT
del L[3]
L

[1, 3, 4.9, 'how', 'are', 6, 'you', 'how', 'are', 6, 'you', 6.5, 6.5, 6.5]

In [ ]:
S.REMOVE

In [53]:
S.update({23, "game", 1})
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [59]:
D.update(D2)

In [64]:
L2 = L
L2[2] = "four"
L2, L

([1, 3, 'four', 'how', 'are', 6, 'you', 'how', 'are', 6, 'you', 6.5, 6.5, 6.5],
 [1, 3, 'four', 'how', 'are', 6, 'you', 'how', 'are', 6, 'you', 6.5, 6.5, 6.5])

In [65]:
L2 = L.copy()

In [69]:
L2[2] = 4.9
L2, L

([1, 3, 4.9, 'how', 'are', 6, 'you', 'how', 'are', 6, 'you', 6.5, 6.5, 6.5],
 [1, 3, 'four', 'how', 'are', 6, 'you', 'how', 'are', 6, 'you', 6.5, 6.5, 6.5])

In [ ]:
L3 = [x**2 for x in range(10)]

In [1]:
""" A teacher has diffrent student records containing ID of Student
and the marks list in each subject where diffrent students have 
taken diffrent number of subjects. All this records are hard copies
, it has to get all the data in the computer and want to compute the 
average mark of each studenta displayed """

def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input ("Enter the marks by comma separated values: ")
        moreStudents = input('Enter "no" to quit insertion :')
        if studentId in D:
            print(studentId, " is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [2]:
studentData = getDataFromUser()

Enter student ID: 12
Enter the marks by comma separated values: 24, 65, 87
Enter "no" to quit insertion :asf
Enter student ID: 45
Enter the marks by comma separated values: 44, 55, 66, 774
Enter "no" to quit insertion :asd
Enter student ID: 12
Enter the marks by comma separated values: 45, 45
Enter "no" to quit insertion :asdt
12  is already inserted
Enter student ID: 23
Enter the marks by comma separated values: 45, 45
Enter "no" to quit insertion :no

In [3]:
studentData

{'12': ['24', ' 65', ' 87'],
 '45': ['44', ' 55', ' 66', ' 774'],
 '23': ['45', ' 45']}

In [8]:
def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s =0 
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [ ]:
avgM = getAvgMarks(studentData)

In [9]:
for x in avgM:
    print("Student: ", x, "got avg Marks as: ", avgM[x])

Student:  12 got avg Marks as:  58.666666666666664
Student:  45 got avg Marks as:  234.75
Student:  23 got avg Marks as:  45.0